@page "/"


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Helper App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: grey;
        }

        .container {
            max-width: auto;
            margin: 0 auto;
            background-color: grey;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
            padding: 2px;
        }

        h1 {
            text-align: center;
            font-size: 28px;
            color: #444;
            margin: 20px 0;
            padding-top: 10px;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            color: #444;
            margin: 5px 0;
            margin: 0;
        }

        .parallax-block {
            background-image: url('Dal2.png');
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 110%; /* increase the size of the image */
            height: 25vh;
            width: auto;
            position: relative;
            margin: 0; /* remove the top and bottom margins */
        }

            .parallax-block:last-of-type {
                margin-bottom: 0; /* remove the bottom margin for the last block */
            }


        .cta {
            display: block;
            width: 90%;
            margin: 10px auto;
            background-color: #f44336;
            color: #fff;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
            padding: 5px;
            border-radius: 3px;
        }

            .cta:hover {
                background-color: #f66;
            }
        /* Navbar styles */
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #333;
            color: #fff;
            padding: 0px 0px;
        }

            .navbar a {
                color: #fff;
                text-decoration: none;
                font-size: 18px;
            }

                .navbar a:hover {
                    color: #f66;
                }

            .navbar img {
                height: 30px;
            }
    </style>
</head>
<body>

    <div class="parallax-block" style="width:95%">
        <h1>Welcome to the Helper App!</h1>

        <button class="btn btn2">Click me</button>

    </div>
    <div class="parallax-block" style="width:95%">
        <h1>Welcome to the Helper App!</h1>
        <button class="btn btn2">Click me</button>

    </div>
    <div class="parallax-block" style="width:95%">
        <h1>Welcome to the Helper App!</h1>
        <button class="btn btn2">Click me</button>
    </div>
    <div class="parallax-block" style="width:95%">
        <h1>Welcome to the Helper App!</h1>
        <button class="btn btn2">Click me</button>
    </div>
    <div class="parallax-block" style="width:95%">
        <h1>Welcome to the Helper App!</h1>
        <div style="position:center">
            <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        
        @*<iframe src="https://www.youtube.com/watch?v=dQw4w9WgXcQ" controls></iframe>*@
        @*<video controls>
            <source src="IMG_2586.MOV"type="video/m4v" />
        </video>*@
        <div style="height:20px;width:">
            <video src="https://www.youtube.com/watch?v=dQw4w9WgXcQ.mp4" controls></video>
        </div>

        <button class="btn btn2">Click me</button>
    </div>
    <div class="parallax-block" style="width:95%">
        <h1>Welcome to the Helper App!</h1>
        <button class="btn btn2">Click me</button>
    </div>
    <div class="parallax-block" style="width:95%">
        <h1>Welcome to the Helper App!</h1>
        <button class="btn btn2">Click me</button>
    </div>
    <div class="parallax-block" style="width:95%">
        <h1>Welcome to the Helper App!</h1>
        <button class="btn btn2">Click me</button>
    </div>
    <div class="parallax-block" style="width:95%">
        <h1>Welcome to the Helper App!</h1>
        <button class="btn btn2">Click me</button>
    </div>
    <div class="parallax-block" style="width:95%">
        <h1>Welcome to the Helper App!</h1>
        <button class="btn btn2">Click me</button>
    </div>
    <div class="parallax-block" style="width:95%">
        <h1>Welcome to the Helper App!</h1>
        <button class="btn btn2">Click me</button>
    </div>
    <div class="parallax-block" style="width:95%">
        <h1>Welcome to the Helper App!</h1>
        <button class="btn btn2">Click me</button>
    </div>


</body>
</html>


